@include media-breakpoint(basic) {
    .signInPage {
        & .journeyHeading {
            font-size: 24px;
            line-height: 28.13px;
            color: $textClr;
        }
    }
    .passwordChangeModal {
        & .modal-dialog {
            & .modal-content {
                background-color: $bodyBg !important;
                & .modal-header {
                    & button {
                        background: none !important;
                    }
                }
                & .modal-body {
                    & .passwordChanges {
                        width: 93px;
                        height: 93px;
                        border-radius: 100%;
                        overflow: hidden;
                    }
                    & .pass_Saccucess {
                        font-weight: 500;
                        color: $theme-blue;
                        font-size: 22px;
                        line-height: 25.78px;
                    }
                }
            }
        }
        &::before{
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            background-color: $textClr;
            opacity: 0.5;
            inset: 0;
        }
    }
    .modal-backdrop {
        // background: $textClr !important;
        opacity: 0 !important;
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}