
.customBtn {
    font-size: 16px;
    font-weight: 700;
    color: $textClr;
    background: $theme-blue;
    padding: 10px 110px 10px 110px;
    border-radius: 10px;
    text-decoration: none;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all ease-in-out 0.3s;
    &:hover{
        background: $theme-blueDark !important;
    }
} 
    .buyBtn{
        text-decoration: none;
        color:$white;
        font-family: 'Roboto';
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 0px 2px 2px 0px;
        background: $theme-green;
        padding: 3px 13px;
        box-shadow: 1px 1px 5px 0px rgba(24,92,160,0.8);

        &.sellBtn{
            background-color: $theme-red;
            font-size: 12px;
            border-radius: 5px;
        }
    }
.cardHeaingsection{
    color:$textClr;
    font-family:' Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .viewBtn{
    color:$theme-blue;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
