@include media-breakpoint(basic) {
    .footer {
        height: 56px;
        border-radius: 10px 10px 0px 0px;
        &.bottomBar {
            background-color: $theme-dark;
            box-shadow: 0px 0px 6px rgba($textClr, 0.4);
        & .innerBar {
        & .bottombarTabs {
            & .linkTab {
            transition: all 0.3s;
            & .gameImg {
                height: 24px;
                & img {
                    transition: all 0.3s;
                    filter: grayscale(0.9);
                }
            }
            & .gamesheading {
                line-height: 100%;
                font-size: 12px;
                font-weight: 400;
                transition: all 0.3s;
                color: $gray-bg;
            }
            // &:hover {
            //     & .gamesheading {
            //         color: $theme-blue !important;
            //     }
            //     & .gameImg {
            //         & img {
            //             filter: none !important;
            //         }
            //     }
            // }
            &.active, &:hover {
                & .gameImg {
                    & img {
                        filter: unset !important;
                    }
                }
                & .gamesheading {
                    color: $theme-blue !important;
                }
            }
            }
            &.home {
                margin-top: -50px;
                position: relative;
                z-index: 555;
                & .linkTab {
                    border: 4px solid $bodyBg;
                    width: 57px;
                    height: 57px;
                    border-radius: 100%;
                    background-color: #6D7188;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    & .gamesheading {
                        color: $theme-dark !important;
                        // color: $textClr !important;
                        font-size: 11px;
                    }
                    & .gameImg {
                        & img {
                            // filter: unset !important;
                            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                        }
                    }
                }
            }
        }
        }
    }
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}