// ? @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@
@include media-breakpoint(basic) {
    .form {
        & .cards {
            background-color: $theme-dark;
            border-radius: 10px;
            padding: 1.5rem 1rem;
            & .form-floating {
                & .form-control {
                    height: 47px;
                    border: 1px solid $dark-border;
                    color: $text-gray;
                    font-size: 14px;
                    &:not(:placeholder-shown),
                    &:focus {
                        padding-top: 0.925rem;
                        padding-bottom: 0.625rem;
                        &~label{
                            transform: scale(0.85) translateY(-1.5rem) translateX(0.15rem);
                            opacity: 95;
                        }
                    }
                }
                & label{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18.75px;
                    color: $text-gray;
                    & span {
                        background-color: $theme-dark;
                        padding: 0px 5px;
                        color: $text-gray;
                    }
                }
            }
            & .form-select {
                border: 1px solid $dark-border;
            }
            & .input-group {
                & .input-group-text {
                border: 1px solid $dark-border;
                }
            }
            & .forgot {
                font-size: 12px;
                line-height: 14.06px;
                font-weight: 400;
                color: $text-gray;
                right: 1rem;
            }
            &.start-label {
                & .form-floating{
                    & .form-control {
                        &:not(:placeholder-shown),
                        &:focus {
                            &~label{
                                transform: scale(0.85) translateY(-1.5rem) translateX(-6.15rem);
                            }
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

// ! @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@






