@include media-breakpoint(basic) {
    .header {
        background-color: $theme-dark;
        height: 60px;
        & .innerheader {
            & .profile {
            & .userImage {
                width: 36px;
                height: 36px;
                background: $bodyBg;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                & img {
                object-fit: cover;
                }
            }
            }
            & .serachInput{
                & .inputGroup{
                    & .inputText{
                        background-color:$bodyBg;
                    }
                    & .inputStyle{
                        background-color:$bodyBg;
                        color: $text-gray;
                        font-family: 'Roboto';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        &::placeholder{
                            color:$text-gray;
                            font-family: 'Roboto';
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
            & .notification {
            & .notificationIcon {
                width: 24px;
                height: 24px;
                & img {
                    transition: all 0.3s;
                }
                &:hover{
                    & img {
                        filter: opacity(0.8);
                    }
                }
                &.exitKey {
                    height: 20px;
                    display: inline-flex;
                }
            }
            }
            & .navDropdwon{
                & .dropDwonNavBar{
                    & .dropDwonBtn{
                        border-radius: 4px;
                        background: $theme-dark;
                        color: $theme-blue;
                        text-align: center;
                        font-family: 'Roboto';
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        &::after{
                            display: none;
                        }
                    }
                    & .dropMenu{
                        width: 50px !important;
                        background-color:$theme-dark;

                        & li{
                            border-bottom: 1px solid $dark-border;
                            & .dropItem{
                                color: $text-gray;
                                font-family: 'Roboto';
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                transition: all 0.3s ease-in-out;
                                &:hover{
                                //    color: rgba(28, 141, 255, 0.60);
                                    color: $theme-blue;
                                   background-color: transparent;
                                   background-image: none;

                                }
                            }
                        }
                    }
                }
            }

            & .matchTime{
                font-size: 10px;
            }
            & .gamesLogo {
                height: 22px;
            }
                & .backBtn {
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                    & img {
                        transition: all 0.3s;
                    }
                    &:hover{
                        & img {
                            filter: opacity(0.8);
                        }
                    }
                }
        }
        .btn-close {
            filter: invert(1);
            opacity: 1;
        }
        .brand{
            width: 100px;
        }
        .buttons {
            & .btn-edit {
                width: 16px;
                height: 16px;
            }
            & .userprofilename {
            & .userMailAdd, & .username {
                font-size: 12px;
            }
        }
        }
    }
    .profileOffcanvas {
        // width: 360px !important;
        & .offcanvas-header {
            & .offcanvas-title {
                & .profileoffcanvasHeader {
                    background: lighten($black, 10);
                    height: 100px;
                    & .innerheader{
                    & .profile {
                        & .userImage {
                        border: 2px solid $theme2;
                        width: 50px;
                        height: 50px;
                        }
                    }
                    }
                    & .upload {
                        right: -6%;
                        top: 61%;
                        width: 20px;
                        height: 20px;
                    & label {
                        cursor: pointer;
                        overflow: hidden;
                        transition: all ease 0.5s;
                        pointer-events: none;
                        // & img {
                        // filter: invert(1);
                        // }
                    }
                    & .input-file {
                        opacity: 0;
                        cursor: pointer;
                    }
                    }
                    & .userprofilename {
                        & .userMailAdd {
                            & span {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
        & .offcanvas-body {
            & .innerbody {
                & .linkBox {
                    & .tagicon {
                        width: 22px;
                        height: 22px;
                    }
                    & .linkContent {
                        font-size: 13px;
                        &.walletBalance {
                            color: lighten($theme1, 10);
                        }
                    }
                    transition: all ease-in-out 0.3s;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
        & .profileFooter {
            height: 100px;
            background: lighten($black, 10);
            & .contectText {
            }
            & .addlink {
                text-decoration: none !important;
            }
        }
    }
    .underlines {
        border-bottom: 0.6px solid rgba($secondary, 0.5);
    }

    .offcanvas-backdrop {
        position: absolute;
    }
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}