@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

// global button
.profileBtn {
    background-color: #1D1D1D;
    border-radius: 9px;
    padding: 12px 16px 12px 16px;
    & .tabIcon {
        height: 26px;
        width: 26px;
    }
    font-size: 16px;
    // line-height: 19px;
    color: $white;
    & .rightArrow {
        height: 18px;
        width: 7px;
    }
}
// heading all page
.innerheader {
    & .title {
        font-size: 22px;
    }
}
// switch all
.switchMain {
    & .switchLable {
        font-size: 13px;
    }
    & .switchInput {
        height: 20px;
        width: 40px;
        // background: lighten($black, 10);
        background: url(../img/svg/switchicon.svg) no-repeat;
        background-size: 18px 18px;
        background-position-y: center;
    }
}
// check button all
.checkBtn {
    height: 20px;
    min-width: 20px;
    background-color: transparent;
    border: 1px solid $dark-border;
    margin: 0;
    box-shadow: none;
    &:focus {
        border-color: $dark-border;
    }
    &:checked {
        background-color: $theme-blue;
        background-image: url(../img/svg/checkIcon.svg);
        background-size: 12px 10px;
        border-color: $theme-blue;
    }
}

// profile page start
.profile {
    & .innerheader {
        & .title {
            font-size: 22px;
        }
    }
    & .profileTabs {
        gap: 10px;
        & .profileBtn {
            background-color: #1D1D1D;
            border-radius: 9px;
            padding: 12px 16px 12px 16px;
            & .tabIcon {
                height: 26px;
                width: 26px;
            }
            font-size: 16px;
            // line-height: 19px;
            color: $white;
            & .rightArrow {
                height: 18px;
                width: 7px;
            }
        }
        & .refferalBtn {
            & .referralContent {
                padding-top: 2px;
                padding-left: 40px;
                & .referralTitle {
                    font-size: 12px;
                    color: $white;
                    & .referralcode {
                        padding-left: 2px;
                    }
                }
                & .copyIcon {
                    height: 12px;
                    width: 16px;
                }
                & .shareBtn {
                    font-size: 14px;
                    color: rgba(28, 141, 255, 0.6);
                }
            }
        }
        & .aboutusBtn {
            &::after {
                content: '';
                position: absolute;
                top: 42%;
                right: 16px;
                height: 7px;
                width: 14px;
                background: url(../img/svg/accordionicon.svg) no-repeat;
                background-position: center;
                background-size: cover;
            }
            &:not(.collapsed) {
                border-radius: 10px 10px 0 0;
            }
        }
        & .accordion-collapse {
            & .accordion-body {
                background-color: #1D1D1D;
                border-radius: 0px 0px 10px 10px;
                & .aboutBtncontent {
                    padding: 20px 10px 10px 58px;
                    border-bottom: 1px solid #303030;
                    & .aboutHeading {
                        font-size: 13px;
                        color: $white;
                    }
                    & .aboutDetail {
                        font-size: 10px;
                        line-height: 11px;
                        color: $white;
                        padding-top: 6px;
                    }
                    & .moreinfo {
                        font-size: 8px;
                        color: rgba(28, 141, 255, 0.6);
                        padding-top: 3px;
                    }
                }
            }
        }

    }
}
// profile page end

// setting page start 
.Setting {
    & .settingtab {
        gap: 10px;
        & .currancyDrop {
            & .currancyDropbtn {
                background: lighten($black, 10);
                color: $theme1;
                font-size: 12px;
                padding: 5px 26px 5px 12px;
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    right:8px;
                    height: 6px;
                    width: 13px;
                    background: url(../img/svg/dropdown.svg) no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin: 0;
                    padding: 0;
                    border: none;
                }
            }
            & .currancymenu {
                min-width: auto;
                background-color: lighten($black, 15);
                & .currancy {
                    font-size: 10px;
                    color: lighten($white,40);
                    padding: 10px 32px 10px 10px;
                    border-top: 1px solid lighten($black, 30);
                    &:hover {
                        background: none;
                    }
                }
            }
        }
        // & .currancySelect {
        //     background: lighten($black, 3);
        //     // background-image: url(../img/svg/dropdown.svg);
        //     color: $theme1;
        //     font-size: 12px;
        //     padding: 5px 26px 5px 12px;
        //     &::before {
        //         content: '';
        //         position: absolute;
        //         top: 50%;
        //         right: 8px;
        //         height: 7px;
        //         width: 14px;
        //         transform: translateY(-50%);
        //         background: url(../img/svg/dropdown.svg) no-repeat;
        //         background-size: cover;
        //         background-position: center;
        //     }
        //     & option {
        //         background: lighten($black, 15);
        //         border: 0;
        //         color: lighten($white,40);
        //         &:hover {
        //             background: lighten($black, 40);
        //         }
        //     }
        // }
    }
}
// setting page end 

// market management page start
.marketmanag {
    & .innerheader {
        & .apply {
            font-size: 16px;
            color: $theme1;
        }
    }
    & .coinTab {
        background-color: $theme-dark;
        & .coinLink {
            font-size: 14px;
            font-weight: 700;
            width: 116px;
            color: $text-gray;
            transition: all 0.3s ease-in-out;
            &.active {
            background:$theme-blue ;
            color: $textClr;
            }
        }
    }
    & .coinTabContent {
        & .tabfilter {
            background-color: $theme-dark;
            border-radius: 10px 10px 0px 0px;
            padding: 8px 22px 8px 19px;
            & .selectFilter {
                font-size: 16px;
                color: $textClr;
                &:focus-visible {
                    border: 0;
                }
                & option {
                    font-size: 16px;
                    background:$bodyBg ;
                    color: $textClr;
                }
            }
            & .input-group {
                background-color: $bodyBg;
                & .searchInput {
                    font-size: 16px;
                    color: $text-gray;
                    &::placeholder {
                        font-size: 16px;
                        color: $text-gray;
                    }
                }
            }
        }
        & .tabContentMain {
            background-color: $theme-dark;
            border-radius: 0px 0px 10px 10px;
            & .marketlabelmain {
                padding-right: 22px;
                border-bottom: 1px solid $dark-border;
                & .marketlabel {
                    font-size: 16px;
                    padding: 14px 0 14px 19px;
                    color: $textClr;
                    & .marketLabelIcon {
                        height: 26px;
                        width: 26px;
                    }
                    & .coinName {
                        font-size: 12px;
                        color: rgba($textClr, 0.5);
                    }
                }
            }
        }
    }
}
// market management page end

// welcomev page start
.welcomeSection {
    & .welcomelogo {
        height: 111px;
        width: 296px;
    }
    & .welcometitle {
        font-size: 36px;
        line-height: normal;
        padding-top: 60px;
        padding-bottom: 60px;
        color: $textClr;
    }
    & .dontAccount {
        font-size: 16px;
        color: $textClr;
        & .dontbtn {
            color: $theme-blue;
            font-size: 14px;
        }
    }
    & .skipbtn {
        font-size: 14px;
        color: $theme-blue;
    }
}
// welcomev page end