@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

// global button
.profileBtn {
    background-color: $theme-dark;
    color: $textClr;
    border-radius: 9px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    // line-height: 19px;
    & .tabIcon {
        height: 26px;
        width: 26px;
    }
    & .rightArrow {
        height: 18px;
        width: 7px;
    }
}
// heading all page
.innerheader {
    & .title {
        font-size: 22px;
    }
}
// switch all
.switchMain {
    & .switchLable {
        font-size: 13px;
    }
    & .switchInput {
        height: 20px;
        width: 40px;
        // background: lighten($black, 10);
        background: url(../img/svg/switchicon.svg) no-repeat;
        background-size: 18px 18px;
        background-position-y: center;
    }
}
// check button all
.checkBtn {
    height: 20px;
    min-width: 20px;
    background-color: transparent;
    border: 1px solid $dark-border;
    margin: 0;
    box-shadow: none;
    &:focus {
        border-color: $dark-border;
    }
    &:checked {
        background-color: $theme-blue;
        background-image: url(../img/svg/checkIcon.svg);
        background-size: 12px 10px;
        border-color: $theme-blue;
    }
    &:checked ~ label {
        color: $theme-blue;
    }
}

// search all
.searchbaricon {

}
// .searchgroup {
//     background-color: $bodyBg;
//     display: none;
//     transition: all 0.3s ease-in-out;
//     & .searchInput {
//         font-size: 16px;
//         color: $text-gray;
//         &::placeholder {
//             font-size: 16px;
//             color: $text-gray;
//         }
//     }
// }
.searchbox {
    position: relative;
    min-width: 40px;
    width: 0%;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.searchbox-input {
    top: 0;
    left: 0;
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 40px;
    font-size: 16px;
    color: $text-gray;
    &:focus {
        background: $bodyBg;
        color: $text-gray;
    }
    &::placeholder {
        font-size: 16px;
        color: $text-gray;
    }
}
.searchbox-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 22px;
    left: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    // line-height: 50px;
    cursor: pointer;
    background-color:transparent;
    // border-radius: 50%;
    filter: brightness(1);
}
.searchbox-open {
    width: 100%;
    height: 40px;
    border-radius: 40px;
}

// select all 
.selectFilter {
    font-size: 16px;
    color: $textClr;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/svg/filter.svg);
    padding-right: 16px;
    background-repeat: no-repeat ;
    background-position: right center;
    &:focus-visible {
        border: 0;
        outline: none;
    }
    & option {
        font-size: 16px;
        background:$bodyBg ;
        color: $textClr;
        // padding: 10px 15px;
        height: 10px;
        width: 30px;
    }
}

// buy button all
.tabelebuyBtn {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: $textClr;
    background-color:$theme-green ;
    padding: 3px 20px;
    border-radius: 5px;
}


// profile page start
.profile {
    & .innerheader {
        & .title {
            font-size: 22px;
        }
    }
    & .profileTabs {
        gap: 10px;
        // & .profileBtn {
        //     background-color: #1D1D1D;
        //     border-radius: 9px;
        //     padding: 12px 16px 12px 16px;
        //     & .tabIcon {
        //         height: 26px;
        //         width: 26px;
        //     }
        //     font-size: 16px;
        //     // line-height: 19px;
        //     color: $white;
        //     & .rightArrow {
        //         height: 18px;
        //         width: 7px;
        //     }
        // }
        & .refferalBtn {
            & .referralContent {
                padding-top: 2px;
                padding-left: 40px;
                & .referralTitle {
                    font-size: 12px;
                    color:$textClr;
                    & .referralcode {
                        padding-left: 2px;
                    }
                }
                & .copyIcon {
                    height: 12px;
                    width: 16px;
                }
                & .shareBtn {
                    font-size: 14px;
                    color: $theme-blue;
                }
            }
        }
        & .aboutusBtn {
            &::after {
                content: '';
                position: absolute;
                top: 42%;
                right: 16px;
                height: 7px;
                width: 14px;
                background: url(../img/svg/accordionicon.svg) no-repeat;
                background-position: center;
                background-size: cover;
            }
            &:not(.collapsed) {
                border-radius: 10px 10px 0 0;
                background-color: $theme-dark;
                color: $textClr;
            }
        }
        & .accordion-collapse {
            & .accordion-body {
                background-color: $theme-dark;
                border-radius: 0px 0px 10px 10px;
                & .aboutBtncontent {
                    padding: 20px 10px 10px 58px;
                    border-bottom: 1px solid $dark-border;
                    & .aboutHeading {
                        font-size: 13px;
                        color: $textClr;
                    }
                    & .aboutDetail {
                        font-size: 10px;
                        line-height: 11px;
                        color: $textClr;
                        padding-top: 6px;
                    }
                    & .moreinfo {
                        font-size: 8px;
                        color: $theme-blue;
                        padding-top: 3px;
                    }
                }
            }
        }

    }
}
// profile page end

// setting page start 
.Setting {
    & .settingtab {
        gap: 10px;
        & .currancyDrop {
            & .currancyDropbtn {
                background: $bodyBg;
                color: $theme-blue;
                font-size: 12px;
                padding: 5px 26px 5px 12px;
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    right:8px;
                    height: 6px;
                    width: 13px;
                    background: url(../img/svg/dropdown.svg) no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin: 0;
                    padding: 0;
                    border: none;
                }
            }
            & .currancymenu {
                min-width: auto;
                background-color: $theme-dark;
                & .currancy {
                    font-size: 10px;
                    color: $text-gray;
                    padding: 10px 32px 10px 10px;
                    border-top: 1px solid $dark-border;
                    &:hover {
                        background: none;
                    }
                }
            }
        }
        // & .currancySelect {
        //     background: $bodyBg;
        //     background-image: url(../img/svg/dropdown.svg);
        //     color: $theme1;
        //     font-size: 12px;
        //     padding: 5px 26px 5px 12px;
        //     background-repeat: no-repeat;
        //     background-position: right center;
        //     background-position-x: 50px;
        //     // &::before {
        //     //     content: '';
        //     //     position: absolute;
        //     //     top: 50%;
        //     //     right: 8px;
        //     //     height: 7px;
        //     //     width: 14px;
        //     //     transform: translateY(-50%);
        //     //     background: url(../img/svg/dropdown.svg) no-repeat;
        //     //     background-size: cover;
        //     //     background-position: center;
        //     // }
        //     & .currancyOption {
        //         background: $theme-dark;
        //         border: 0;
        //         color: $text-gray;
        //         &:hover {
        //             background: lighten($black, 40);
        //         }
        //     }
        // }
    }
}
// setting page end 

// market management page start
.marketmanag {
    & .innerheader {
        & .apply {
            font-size: 16px;
            color: $theme1;
        }
    }
    & .coinTab {
        background-color: $theme-dark;
        & .coinLink {
            font-size: 14px;
            font-weight: 700;
            width: 116px;
            color: $text-gray;
            transition: all 0.3s ease-in-out;
            &.active {
            background:$theme-blue ;
            color: $textClr;
            }
        }
    }
    & .coinTabContent {
        & .tabfilter {
            background-color: $theme-dark;
            border-radius: 10px 10px 0px 0px;
            padding: 8px 22px 8px 19px;
            & .input-group {
                background-color: $bodyBg;
                & .searchInput {
                    font-size: 16px;
                    color: $text-gray;
                    &::placeholder {
                        font-size: 16px;
                        color: $text-gray;
                    }
                }
            }
        }
        & .tabContentMain {
            background-color: $theme-dark;
            border-radius: 0px 0px 10px 10px;
            & .marketlabelmain {
                padding-right: 22px;
                border-bottom: 1px solid $dark-border;
                & .marketlabel {
                    font-size: 16px;
                    padding: 14px 0 14px 19px;
                    color: $textClr;
                    & .marketLabelIcon {
                        height: 26px;
                        width: 26px;
                    }
                    & .coinName {
                        font-size: 12px;
                        color: rgba($textClr, 0.5);
                    }
                }
            }
        }
    }
}
// market management page end

// welcomev page start
.welcomeSection {
    & .welcomelogo {
        height: 111px;
        width: 296px;
    }
    & .welcometitle {
        font-size: 36px;
        line-height: normal;
        padding-top: 60px;
        padding-bottom: 60px;
        color: $textClr;
    }
    & .dontAccount {
        font-size: 16px;
        color: $textClr;
        & .dontbtn {
            color: $theme-blue;
            font-size: 14px;
        }
    }
    & .skipbtn {
        font-size: 14px;
        color: $theme-blue;
    }
}
// welcomev page end

// price page start
.price {
    // & .innerheader {
    //     & .userPrice {
    //         padding: 6px;
    //     }
    // }
    & .priceCurrancy {
        font-size: 10px;
        color: $theme-blue;
        background: $theme-dark;
        padding: 10px 4px;
    }
    & .pricetab {
        background:$theme-dark;
        padding: 4px;
        & .pricetaBtn {
            width: 116px;
            font-size: 14px;
            color: $text-gray;
            padding: 6px 0;
            font-weight: 700;
            &.active {
                background:$theme-green ;
                color: $textClr;
            }
        }
        & .bestsellBtn {
            &.active {
                background:$theme-red;
                color: $textClr;
            }
        }
    }
    & .priceTable {
        border-collapse: separate;
        border-spacing: 0 10px;
        & .tablerow {
            & th, td {
                background: $theme-dark;
            }
            // & td {
            //     background: $theme-dark;
            // }
        }
        & .tableData {
            // &::before {
            //     line-height:0px;
            //     content:"-";
            //     color:$bodyBg; /* to hide text */
            //     display:block;
            // }
            & .tableCard {
                & .tableIcon {
                    height: 31px;
                    width: 31px;
                }
                & .tablecoin {
                    font-size: 16px;
                    font-weight: 700;
                    color: $textClr;
                }
                & .tablecoinName {
                    font-size: 12px;
                    color: $theme-blue;
                }
                & .coinrate {
                    font-size: 14px;
                    color: $textClr;
                }
                & .coinratetwo {
                    font-size: 10px;
                    color: $textClr;
                }
                & .cointile {
                    font-size: 14px;
                    color: $textClr;
                }
            }
        }
        & .pricetableHead {
            font-size: 11px;
            color: $textClr;
            & .selectFilter {
                font-size: 11px;
                color: $textClr;
                & option {
                    font-size: 11px;
                    color: $textClr;
                }
            }
        }
        & .tableIcon {

        }
    }
    & .bestsellContent {
        & .tabelebuyBtn {
            background: $theme-red;
        }
    }
}
// price page end

// filter modal start
.filterModal {
    // background: rgba($textClr, 0.5);
    background-color:rgba($textClr, 0.9);
    & .filterModalMain {
        max-width: 350px;
        & .filtercontent {
            background: $theme-dark;
            & .btn-close {
                background: none;
                opacity: 1;
            }
            & .filtermodalIcon {
                height: 53px;
                width: 53px;
            }
            & .filterTitle {
                font-size: 18px;
                font-weight: 500;
                color: $textClr;
            }
            & .filterBtn {
                font-size: 16px;
                font-weight: 700;
                background-color: $theme-blue;
                color: $textClr;
                padding: 11px 82px;
            }
        }
    }
}
// filter modal end

.priceDetail {
    & .priceDetailCard {
        padding: 15px 15px 25px 8px;
        background: $theme-dark;
        & .cardicon {
            height: 24px;
            width: 24px;
        }
        & .cardTitle {
            font-size: 18px;
            color: $textClr;
            line-height: normal;
        }
        & .pricevalue {
            font-size: 20px;
            color: $textClr;
        }
        & .priceTitle {
            font-size: 12px;
            color: rgba($textClr, .05);
        }
    }
    & .comparePrice {
        font-size: 16px;
        color: $textClr;
    }
    & .pricedetailTable {
        // background: $theme-dark;
        // border-collapse: separate;
        // border-spacing: 0 15px;
        & .pricedetailHead {
            border-bottom: 1px solid $dark-border;
            & th {
                font-size: 11px;
                color: $textClr;
            }
        }
        & .priceDetalbody {
            & .detailRow {
                border: 1px solid transparent;
                border-bottom: 1px solid $dark-border;
                // transition: all 0.3s ease-in-out;
                &:hover {
                    border: 1px solid $theme-blue;
                }
                & .detailtabletitle {
                    font-size: 16px;
                    color: $textClr;
                    & .detailtableIcon {
                        height: 24px;
                        width: 24px;
                    }
                }
                & .detailtableprice {
                    font-size: 14px;
                    color: $textClr;
                }
                & .detailpricetwo {
                    font-size: 10px;
                    // color: rgba($textClr, 0.8);
                    color: $textClr;
                }
                & .tradeNowBtn {
                    font-size: 12px;
                    font-weight: 700;
                    background: $theme-blue;
                    padding: 5px 6px;
                    color: $textClr;
                    border-radius: 5px;
                }
            }
            & .detailRowone {
                border-top: 1px solid $dark-border;
            }
        }
    }
}