.indexMainPage{
    & .ouutercard{
        background-color: rgba(29, 29, 29, 1);
        padding: 4px 0px;

        & .marqeeSection{
            & .marqueeText{
                color: #FFF;
                font-family: 'Roboto';
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                & .icon{
                    width: 8px;
                    height: 5px;
                }
                & .subHeading{
                    color: #2CBD96;
                    &.subHeading2{
                        color: #E96464;
                    }

                }
            }
        }
    }
    & .bestSellnav{
        padding: 0px 16px;
        & .navTabs{
            border-radius: 5px;
            background: #1D1D1D;
            padding: 4px;
            & .navLink{
                border-radius: 5px !important;
                box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.12) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.12);
                color: var(--dm-input-field-text, #CAC4D0);
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 5px 13px;
                &.active{
                    border-radius: 5px !important;
                    padding: 5px 13px;
                    background: #2CBD96;
                    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.12) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.12);
                    color: #F8F8F8;
                    font-family:' Roboto';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
        & .viewBtn{
            color: rgba(28, 141, 255, 0.60);
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    & .sellerCard{
        padding: 0px 16px !important;
        & .tabContent{
            & .tabePane{
                & .btcCard{
                    border-radius: 8px;
                    background: #1D1D1D;
                    position: relative;
                    &.active{
                        box-shadow:  0px 0px 8px 0px rgba($theme1, 0.5);
                        z-index: 1;
                        transform: scale(1.1);
                    }
                    & .card-body{
                        & .CardContent{
                            & .cardImg{
                                width: 40px;
                                height: 40px;
                            }
                            & .cardHeaing{
                                color: #FFF;
                                font-family:' Roboto';
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                            & .pera{
                                color: #FFF;
                                font-family: 'Roboto';
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}





























@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}