.indexMainPage{
    & .ouutercard{
        background: $theme2;
        padding: 4px 0px;

        & .marqeeSection{
            & .marqueeText{
                color:$white;
                font-family: 'Roboto';
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                & .icon{
                    width: 8px;
                    height: 5px;
                }
                & .subHeading{
                    color: $theme4;
                    &.subHeading2{
                        color:$theme3;
                    }

                }
            }
        }
    }
    & .bestSellnav{
        padding: 0px 16px;
        & .navTabs{
            border-radius: 5px;
            background: $theme2;
            padding: 4px;
            & .navLink{
                border-radius: 5px !important;
                color: darken($white,20);
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 5px 13px;
                &.active{
                    border-radius: 5px !important;
                    padding: 5px 13px;
                    background: $theme4;
                    color: $white;
                    font-family:' Roboto';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
        & .viewBtn{
            color:$theme1;
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    & .sellerCard{
        padding: 0px 16px !important;
        & .tabContent{
            & .tabePane{
                & .btcCard{
                    border-radius: 8px;
                    background: $theme2;
                    position: relative;
                    &.active{
                        box-shadow:  0px 0px 8px 0px rgba($theme1, 0.5);
                        z-index: 1;
                        transform: scale(1.1);
                    }
                    & .card-body{
                        & .CardContent{
                            & .cardImg{
                                width: 40px;
                                height: 40px;
                            }
                            & .cardHeaing{
                                color: $white;
                                font-family:' Roboto';
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                            & .pera{
                                color:$white;
                                font-family: 'Roboto';
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    & .portfolio{
      padding: 10px 16px !important;
      & .outterCard{
        background-color: $theme2;
        border-radius: 7px;
        padding: 15px 20px;
        & .portfolioCard{
           position: relative;
           &::before{
            position: absolute;
            content: '';
            right: 0;
            top: 0px;
            width: 1px;
            height: 33px;
            background-color: $theme1;

           }
            & .subHeading{
                color: darken($white,20);
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            & .headingcard{
                color:$white;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            & .pera{
                color:$theme4;
                font-family: 'Roboto';
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                & .icon{
                    width: 12px;
                    height: 14px;
                }
            }
        }
      }
    }
}





























@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}